.todo-app {
    width: 30%;
    min-width: 350px;
    height: 65%;
    background: linear-gradient(
        120deg,
        rgba(126, 16, 199, 1) 4%,
        rgb(206, 101, 101) 59%,
        rgb(223, 152, 53) 94%
    );
    border: none;
    outline: none;
    margin: auto;
    border-radius: 15px;
    overflow: hidden;
    margin-top: 30px;
    text-align: center;
}
.todo-list {
    background: rgba(71, 135, 199, 0.45);
    padding-top: 10px;
}
h2 {
    color: wheat;
}
input[type="text"] {
    background: rgba(193, 221, 250, 0.85);
    border: 1px solid #37414f;
    padding: 7px 30px;
    color: #6e7373;
    width: 75%;
}

input[type="text"]:focus {
    outline: none;
    border: none;
    border-bottom: 1px solid white;
}

.input-icon {
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 10px;
}
.input-icon .icon {
    color: #6e7373;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 5px;
    margin-left: 5px;
}
.input-icon .btn-add {
    position: absolute;
    width: 40px;
    height: 31px;
    background: transparent;
    right: 20px;
    border-radius: 5px;
    border: none;
    overflow: hidden;
    cursor: pointer;
}
.input-icon .icon-add {
    width: 100%;
    height: 100%;
    background: #76a4e0;
}
hr {
    margin-top: 8px;
}
h3 {
    color: wheat;
    padding: 10px 0;
}

.todoComponent {
    display: flex;
    padding: 5px 15px;
    justify-content: space-between;
    align-items: center;
    background: transparent;
}
.todoComponent .content {
    width: 75%;
    text-align: left;
    color: #42a3a3;
}
.todoComponent .button {
    width: 12%;
    display: flex;
    justify-content: space-between;
}
.todoComponent .button button {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}
